<h1>Admin Dashbord</h1>

<nav>
	<ul class="nav nav-pills">
		<li role="presentation right" class="active"> 
			<%=link_to "Prize list", prizes_path %>
		 </li>
		 <li role="presentation right" class="active"> 
		 	<%=link_to "List Prize conditions", conditions_path %>
		 </li>

	</ul>
</nav>





